Repository googleapis/python-retail, pull requests merged in 2021-04, with the labels that each got.

#13 chore: sort class names
  google/cloud/retail_v2/__init__.py
  synth.metadata
Labels: api: retail, cla: yes, context: none

#14 chore: sort classes
  google/cloud/retail_v2/__init__.py
  synth.metadata
Labels: api: retail, cla: yes, context: none

#15 chore: sort classes
  google/cloud/retail_v2/__init__.py
  synth.metadata
Labels: api: retail, cla: yes, context: none

#22 chore: prevent normalization of semver versioning
  setup.py
Labels: api: retail, cla: yes

#24 chore(revert): revert preventing normalization
  setup.py
Labels: api: retail, automerge, cla: yes
