Repository googleapis/python-retail, pull requests merged in 2022-03, with the labels that each got.

#173 docs(samples): fix create bucket for user events
  samples/interactive-tutorials/events/setup_events/events_create_gcs_bucket.py
Labels: samples, api: retail

#179 fix(deps): require google-api-core>=1.31.5, >=2.3.2
  setup.py
  testing/constraints-3.6.txt
Labels: api: retail

#185 chore: add custom sync repo settings
  .github/sync-repo-settings.yaml
Labels: api: retail

#184 test: create bq table issue is fixed
  samples/interactive-tutorials/events/setup_events/setup_cleanup.py
  samples/interactive-tutorials/product/add_fulfillment_places.py
  samples/interactive-tutorials/product/remove_fulfillment_places.py
  samples/interactive-tutorials/product/set_inventory.py
  samples/interactive-tutorials/product/setup_product/setup_cleanup.py
  samples/interactive-tutorials/product/update_product.py
Labels: samples, api: retail

#186 chore: Replace str.format() and string concatenation in samples with f-string
  samples/interactive-tutorials/events/import_user_events_gcs.py
  samples/interactive-tutorials/events/import_user_events_inline.py
  samples/interactive-tutorials/events/purge_user_event.py
  samples/interactive-tutorials/events/rejoin_user_event.py
  samples/interactive-tutorials/events/setup_events/events_create_gcs_bucket.py
  samples/interactive-tutorials/events/setup_events/setup_cleanup.py
  samples/interactive-tutorials/events/setup_events/update_user_events_json.py
  samples/interactive-tutorials/events/write_user_event.py
  samples/interactive-tutorials/noxfile.py
  samples/interactive-tutorials/product/add_fulfillment_places.py
  samples/interactive-tutorials/product/crud_product.py
  samples/interactive-tutorials/product/remove_fulfillment_places.py
  samples/interactive-tutorials/product/setup_product/products_create_gcs_bucket.py
  samples/interactive-tutorials/product/setup_product/setup_cleanup.py
  samples/interactive-tutorials/test_resources_recovery/create_test_resources.py
  samples/interactive-tutorials/test_resources_recovery/remove_test_resources.py
Labels: automerge, samples, api: retail, owlbot:run

#187 chore: Scripts were added to simplify the work environment creation
  samples/interactive-tutorials/user_environment_setup.sh
  samples/interactive-tutorials/user_import_data_to_catalog.sh
Labels: api: retail, owlbot:run

#190 chore: fix for the import data to the catalog script
  samples/interactive-tutorials/user_import_data_to_catalog.sh
Labels: api: retail, owlbot:run

#193 chore: update README and setup scripts
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/user_environment_setup.sh
  samples/interactive-tutorials/user_import_data_to_catalog.sh
Labels: automerge, samples, api: retail
