Repository googleapis/python-retail, pull requests merged in 2022-02, with the labels that each got.

#148 test: create_test_resources path to schemas is fixed
  samples/interactive-tutorials/test_resources_recovery/create_test_resources.py
Labels: samples, api: retail

#149 docs(samples): add product import samples
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/TEST_RESOURCES_SETUP_CLEANUP.md
  samples/interactive-tutorials/product/import_products_big_query_table.py
  samples/interactive-tutorials/product/import_products_bq_test.py
  samples/interactive-tutorials/product/import_products_gcs.py
  samples/interactive-tutorials/product/import_products_gcs_test.py
  samples/interactive-tutorials/product/import_products_inline_source.py
  samples/interactive-tutorials/product/import_products_inline_test.py
  samples/interactive-tutorials/product/noxfile.py
  samples/interactive-tutorials/product/noxfile_config.py
  samples/interactive-tutorials/product/requirements-test.txt
  samples/interactive-tutorials/product/requirements.txt
  samples/interactive-tutorials/product/setup/products_create_bigquery_table.py
  samples/interactive-tutorials/product/setup/products_create_bigquery_table_test.py
  samples/interactive-tutorials/product/setup/products_create_gcs_bucket.py
  samples/interactive-tutorials/product/setup/products_create_gcs_bucket_test.py
  samples/interactive-tutorials/product/setup/products_delete_gcs_bucket.py
  samples/interactive-tutorials/product/setup/setup_cleanup.py
  samples/interactive-tutorials/test_resources_recovery/create_test_resources.py
  samples/interactive-tutorials/test_resources_recovery/remove_test_resources.py
Labels: samples, api: retail

#156 test: fix for product import tests
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/product/conftest.py
  samples/interactive-tutorials/product/import_products_big_query_table.py
  samples/interactive-tutorials/product/import_products_bq_test.py
  samples/interactive-tutorials/product/import_products_gcs.py
  samples/interactive-tutorials/product/import_products_gcs_test.py
  samples/interactive-tutorials/product/import_products_inline_source.py
  samples/interactive-tutorials/product/import_products_inline_test.py
  samples/interactive-tutorials/product/requirements-test.txt
  samples/interactive-tutorials/product/setup/products_create_bigquery_table_test.py
  samples/interactive-tutorials/product/setup/products_create_gcs_bucket_test.py
  samples/interactive-tutorials/product/setup_product/products_create_bigquery_table.py
  samples/interactive-tutorials/product/setup_product/products_create_gcs_bucket.py
  samples/interactive-tutorials/product/setup_product/setup_cleanup.py
Labels: samples, api: retail

#158 docs(samples): remove project_number in interactive-tutorials
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/TEST_RESOURCES_SETUP_CLEANUP.md
  samples/interactive-tutorials/product/import_products_inline_source.py
  samples/interactive-tutorials/search/search_simple_query.py
  samples/interactive-tutorials/search/search_with_boost_spec.py
  samples/interactive-tutorials/search/search_with_facet_spec.py
  samples/interactive-tutorials/search/search_with_filtering.py
  samples/interactive-tutorials/search/search_with_ordering.py
  samples/interactive-tutorials/search/search_with_pagination.py
  samples/interactive-tutorials/search/search_with_query_expansion_spec.py
  samples/interactive-tutorials/test_resources_recovery/create_test_resources.py
  samples/interactive-tutorials/test_resources_recovery/remove_test_resources.py
Labels: automerge, samples, api: retail

#157 docs(samples): add samples for write/rejoin/purge user events
  samples/interactive-tutorials/events/noxfile_config.py
  samples/interactive-tutorials/events/purge_user_event.py
  samples/interactive-tutorials/events/purge_user_event_test.py
  samples/interactive-tutorials/events/rejoin_user_event.py
  samples/interactive-tutorials/events/rejoin_user_event_test.py
  samples/interactive-tutorials/events/requirements.txt
  samples/interactive-tutorials/events/write_user_event.py
  samples/interactive-tutorials/events/write_user_event_test.py
Labels: samples, api: retail

#160 docs(samples): read the project id from google.auth
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/TEST_RESOURCES_SETUP_CLEANUP.md
  samples/interactive-tutorials/product/add_fulfillment_places.py
  samples/interactive-tutorials/product/create_product.py
  samples/interactive-tutorials/product/crud_product.py
  samples/interactive-tutorials/product/delete_product.py
  samples/interactive-tutorials/product/get_product.py
  samples/interactive-tutorials/product/import_products_big_query_table.py
  samples/interactive-tutorials/product/import_products_gcs.py
  samples/interactive-tutorials/product/import_products_inline_source.py
  samples/interactive-tutorials/product/remove_fulfillment_places.py
  samples/interactive-tutorials/product/set_inventory.py
  samples/interactive-tutorials/product/setup_product/products_create_gcs_bucket.py
  samples/interactive-tutorials/product/setup_product/setup_cleanup.py
  samples/interactive-tutorials/product/update_product.py
  samples/interactive-tutorials/search/search_simple_query.py
  samples/interactive-tutorials/search/search_with_boost_spec.py
  samples/interactive-tutorials/search/search_with_facet_spec.py
  samples/interactive-tutorials/search/search_with_filtering.py
  samples/interactive-tutorials/search/search_with_ordering.py
  samples/interactive-tutorials/search/search_with_pagination.py
  samples/interactive-tutorials/search/search_with_query_expansion_spec.py
  samples/interactive-tutorials/test_resources_recovery/create_test_resources.py
  samples/interactive-tutorials/test_resources_recovery/remove_test_resources.py
Labels: samples, api: retail

#162 docs(samples): Additional guidance in samples/interactive-tutorials/README.md
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/images/tutorail1.img
  samples/interactive-tutorials/images/tutorial1.png
  samples/interactive-tutorials/images/tutorials2.png
  samples/interactive-tutorials/images/tutorials3.png
  samples/interactive-tutorials/images/tutorials4.png
Labels: samples, api: retail

#166 chore: additional replacements to read the project id from google.auth
  samples/interactive-tutorials/events/import_user_events_big_query.py
  samples/interactive-tutorials/events/import_user_events_gcs.py
  samples/interactive-tutorials/events/import_user_events_inline.py
  samples/interactive-tutorials/events/purge_user_event.py
  samples/interactive-tutorials/events/rejoin_user_event.py
  samples/interactive-tutorials/events/setup_events/events_create_gcs_bucket.py
  samples/interactive-tutorials/events/setup_events/setup_cleanup.py
  samples/interactive-tutorials/events/write_user_event.py
Labels: kokoro:run, kokoro:force-run, samples, api: retail
