Repository googleapis/python-retail, pull requests merged in 2022-08, with the labels that each got.

#293 chore(samples): fix BQ Dataset creation.
  samples/interactive-tutorials/events/setup_events/setup_cleanup.py
  samples/interactive-tutorials/product/setup_product/setup_cleanup.py
Labels: samples, api: retail, size: xs

#296 chore(samples): fix path to products files.
  samples/interactive-tutorials/product/setup_product/products_create_gcs_bucket.py
Labels: samples, api: retail, size: s

#299 chore(samples): remove env setup.
  samples/interactive-tutorials/user_environment_setup.sh
Labels: samples, api: retail, size: s

#300 chore(samples): add function invoking.
  samples/interactive-tutorials/events/setup_events/update_user_events_json.py
Labels: samples, api: retail, size: xs

#308 chore(samples): add user_events_some_invalid.json to the setup events script
  samples/interactive-tutorials/events/setup_events/update_user_events_json.py
Labels: samples, api: retail, size: xs

#309 chore(samples): remove unnecessary commands.
  samples/interactive-tutorials/user_import_data_to_catalog.sh
Labels: samples, api: retail, size: xs

#313 fix(deps): allow protobuf < 5.0.0
  setup.py
  testing/constraints-3.7.txt
Labels: automerge, api: retail, size: xs

#312 chore(samples): add and fix comments.
  samples/interactive-tutorials/events/purge_user_event.py
  samples/interactive-tutorials/events/rejoin_user_event.py
  samples/interactive-tutorials/events/write_user_event.py
  samples/interactive-tutorials/product/add_fulfillment_places.py
  samples/interactive-tutorials/product/crud_product.py
  samples/interactive-tutorials/product/delete_product.py
  samples/interactive-tutorials/product/get_product.py
  samples/interactive-tutorials/product/import_products_gcs.py
  samples/interactive-tutorials/product/remove_fulfillment_places.py
  samples/interactive-tutorials/product/set_inventory.py
  samples/interactive-tutorials/search/search_with_facet_spec.py
Labels: samples, api: retail, size: s

#315 chore(samples): remove unnecessary permission.
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/user_environment_setup.sh
Labels: samples, api: retail, size: xs
